#goTop {
  background: url(../images/gotop.png) no-repeat;
  bottom: 40px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 11px;
  width: 48px;
  overflow: hidden;
  z-index: 1000;
   border-radius: 4px 4px 4px 4px;
}
#goTop:hover
{ 
background-position-x: -57px;
}